{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Payment</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Payment Form</h1>
        </header>

        <form method="post" action="{% url 'make_payment' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Submit Payment</button>
        </form>
    </div>
</body>
</html>
